.AuthPage {
  background: linear-gradient(
    to top right,
    #88ab8e 0%,
    #88ab8e 50%,
    #afc8ad 50%,
    #afc8ad 100%
  );
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card {
  background-image: url("@/assets/imgs/loginimg.jpg");
  background-size: cover;
  width: 45vw;
  padding: 20px 10px;
  height: 50vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.signup-card {
  background-image: url("@/assets/imgs/signupimg.jpg");
  background-size: cover;
  width: 50vw;
  padding: 20px 10px;
  height: 60vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header {
  font-size: 2.5em;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: #88ab8e;
  width: 55%;
  margin-left: 45%;
  text-align: left;
}
.signup-header {
  width: 45%;
  margin-left: 55%;
}
.login-form {
  width: fit-content;
  margin: auto;
  margin-right: 10%;
}
.form-group {
  position: relative;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  margin-top: 5px;
}
.login-label {
  visibility: hidden;
  text-align: left;
  color: black;
  transition: all 0.1s ease;
  position: absolute;
  top: 15px;
  left: 1px;
}
.login-input {
  border-style: none;
  width: 20vw;
  height: 5vh;
  border-bottom: 1px solid #b6bbc4;
  margin-bottom: 10px;
  background-color: transparent;
}
.login-input:focus + .login-label {
  visibility: visible;
  transition: all 0.5s ease;
  top: -8px;
}

.login-input:focus {
  outline: none;
}
.password-eye {
  position: absolute;
  right: 5px;
  bottom: 15px;
  cursor: pointer;
}
.login-btn {
  width: 20vw;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  height: 5vh;
  font-size: 15px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  display: block;
}
@media only screen and (max-width: 770px) {
  .login-card {
    background-image: none;
    background-color: #f1efef !important;
  }
  .signup-card {
    background-image: none;
    background-color: #f1efef !important;
  }

  .login-header {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .login-input {
    width: 100%;
  }
  .login-btn {
    width: 100%;
  }
}
